{% extends "../student_base.html" %}
{% block content %}

<div class="dashboard-content-one">
  <!-- Add New Book Area Start Here -->
  <div class="card height-auto">
    <div class="card-body">
      <div class="heading-layout1">
          <div class="item-title">
            <h3>Confirm Course Drop</h3>
            <p>Are you sure you want to drop this course?</p>
            <h5>{{ registration.course.code }} - {{ registration.course.title }}</h5>
          </div>
      </div>
      <form method="post">
        {% csrf_token %}

        <div class="col-12 form-group mg-t-8">
          <button type="submit" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark">Yes, Drop Course</button>
          <a href="{% url 'view_registered_courses' %}"><button type="button" class="btn-fill-lg bg-blue-dark btn-hover-yellow">Cancel</button></a>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
