{% extends '../student_base.html' %}
{% load static %}
{% block content %}

    
    <!-- Dashboard Content Start Here -->
    <div class="row gutters-20">   
        
        <div class="col-lg-8 col-xl-8 col-12-xxxl">
            <div class="row">        


            <!-- Exam Result Area Start Here -->
            <div class="col-lg-12">
                <div class="card dashboard-card-eleven">
                <div class="card-body">
                    <div class="heading-layout1">
                    <div class="item-title">
                        <h3>My Course Results</h3>
                    </div>
                    <div class="dropdown">
                        <a class="dropdown-toggle" href="index3.html#" role="button" data-toggle="dropdown"
                            aria-expanded="false">...</a>

                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#"><i
                                    class="fas fa-times text-orange-red"></i>Close</a>
                            <a class="dropdown-item" href="#"><i
                                    class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                            <a class="dropdown-item" href="#"><i
                                    class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
                        </div>
                    </div>
                    </div>
                    <div class="table-box-wrap">
                        {% if results_grouped %}
                        {% for key, data in results_grouped.items %}
                            <h5 class="mt-4 text-success">{{ key }} Semester</h5>
                        <div class="table-responsive result-table-box">
                            <table class="table display data-table text-nowrap">
                            <thead>
                                <tr>
                                    <th>Course Code</th>
                                    <th>Course Title</th>
                                    <th>Credit Unit</th>
                                    <th>Score</th>
                                    <th>Grade</th>
                                    <th>Status</th>
                                    <th>Lecturer</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for r in data.results %}
                                <tr>
                                    <td>{{ r.course.code }}</td>
                                    <td>{{ r.course.title }}</td>
                                    <td>{{ r.course.credit_unit }}</td>
                                    <td>{{ r.score|default:"-" }}</td>
                                    <td>{{ r.grade|default:"-" }}</td>
                                    <td>
                                        {% if r.status == "Approved" %}
                                        <span class="badge bg-success" style="color: #fff;">Approved</span>
                                        {% else %}
                                        <span class="badge bg-warning text-dark" style="color: #fff;">{{ r.status }}</span>
                                        {% endif %}
                                    </td>
                                    <td>{{ r.lecturer }}</td>
                                </tr>
                                    {% endfor %}                                     
                            </tbody>
                            </table>
                            <hr>
                            <div class="text-end mb-4">
                                <strong>Semester GPA:</strong> {{ data.gpa }}
                            </div>
                            {% endfor %}
                            <hr>
                            <div class="text-end mt-3">
                                <h5><strong>Cumulative GPA (CGPA):</strong> {{ cgpa }}</h5>
                            </div>

                            {% else %}
                            <p class="text-center text-muted">No course results available yet.</p>
                            {% endif %}

                        </div>
                    </div>
                </div>
                </div>
            </div>
            <!-- Exam Result Area End Here -->
            </div>
        </div>

        <div class="col-lg-4 col-xl-4 col-12-xxxl">
            <div class="card dashboard-card-six pd-b-20">
                <div class="card-body">
                    <div class="heading-layout1 mg-b-17">
                        <div class="item-title">
                            <h3>Notice Board</h3>
                        </div>
                    </div>
                    <div class="notice-box-wrap">
                        <div class="notice-list">
                            <div class="post-date bg-skyblue">05 November, 2025</div>
                            <h6 class="notice-title"><a href="#">All school fee payments should be made before 1st December, 2025.</a></h6>
                            <div class="entry-meta"> Admin / <span>hours ago</span></div>
                        </div>
                        <div class="notice-list">
                            <div class="post-date bg-yellow">03 November, 2025</div>
                            <h6 class="notice-title"><a href="#">All Students are to vacate the hostel before 21st November, 2025.</a></h6>
                            <div class="entry-meta"> Admin / <span>hours ago</span></div>
                        </div>
                        <div class="notice-list">
                            <div class="post-date bg-pink">04 November, 2025</div>
                            <h6 class="notice-title"><a href="#">UNICEF enrols 33,532 out-of-school children on digital learning in Borno.</a></h6>
                            <div class="entry-meta"> Admin / <span>hours ago</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- <div class="col-lg-6 col-xl-6 col-6-xxxl">
        <div class="card dashboard-card-four pd-b-20">
            <div class="card-body">
                <div class="heading-layout1">
                    <div class="item-title">
                        <h3>Event Calender</h3>
                    </div>
                    
                </div>
                <div class="calender-wrap">
                    <div id="fc-calender" class="fc-calender"></div>
                </div>
            </div>
        </div>
    </div> -->


    
    <!-- Dashboard Content End Here -->

{% endblock %}