{% extends "../student_base.html" %}
{% block content %}
<div class="dashboard-content-one">
  <!-- Student Table Area Start Here -->
  <div class="card height-auto">
    <div class="card-body">
      <div class="heading-layout1">
        <div class="item-title">
            <h3>My Profile</h3>
        </div>
          
      </div>
      {% if messages %}
          {% for message in messages %}
          <div class="ui-alart-box">
              <div class="dismiss-alart">                                
                  <div class="alert alert-primary alert-dismissible fade show" role="alert">
                      {{ message }}!
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                  </div>                                
              </div>
          </div>
          {% endfor %}
      {% endif %}
      <div class="table-responsive">
          <table class="table display data-table text-nowrap">
              
              <tbody>
                <tr>
                  <th>Full Name</th>
                  <td>{{ student.user.get_full_name }}</td>
                </tr>
                <tr>
                  <th>Username</th>
                  <td>{{ student.user.username }}</td>
                </tr>
                <tr>
                  <th>Email</th>
                  <td>{{ student.user.email }}</td>
                </tr>
                <tr>
                  <th>Matriculation Number</th>
                  <td>{{ student.matric_no }}</td>
                </tr>
                <tr>
                  <th>Department</th>
                  <td>{{ student.department.name }}</td>
                </tr>
                <tr>
                  <th>Level</th>
                  <td>{{ student.get_level_display }}</td>
                </tr>
                <tr>
                  <th>Admission Year</th>
                  <td>{{ student.admission_year }}</td>
                </tr>
                <tr>
                  <th>Admission Type</th>
                  <td>Student</td>
                </tr>
              </tbody>
          </table>
          <div class="text-end">
              <a href="{% url 'student_edit_profile' %}" class="btn btn-lg btn-info">Edit Profile</a>
              <a href="{% url 'student_dashboard' %}" class="btn btn-lg btn-secondary">Back to Dashboard</a>
          </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
