{% extends "lecturer_base.html" %}
{% block content %}
<div class="dashboard-content-one">
  <!-- Student Table Area Start Here -->
  <div class="card height-auto">
    <div class="card-body">
      <div class="heading-layout1">
        <div class="item-title">
            <h3>My Profile</h3>
        </div>
          
      </div>
      <div class="table-responsive">
          <table class="table display data-table text-nowrap">
              
              <tbody>
                <tr>
                  <th>Full Name</th>
                  <td>{{ lecturer.user.get_full_name }}</td>
                </tr>
                <tr>
                  <th>Username</th>
                  <td>{{ lecturer.user.username }}</td>
                </tr>
                <tr>
                  <th>Email</th>
                  <td>{{ lecturer.user.email }}</td>
                </tr>
                <tr>
                  <th>Department</th>
                  <td>{{ lecturer.department.name }}</td>
                </tr>
                <tr>
                  <th>Staff ID</th>
                  <td>{{ lecturer.staff_id }}</td>
                </tr>
                <tr>
                  <th>Rank</th>
                  <td>{{ lecturer.rank }}</td>
                </tr>
              </tbody>
          </table>
      </div>
    </div>
  </div>
</div>

{% endblock %}
